<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div id="app">
			<cpn></cpn>
			<cpn>
				<!-- 目的是获取子组件中的pLanguages vue 2.5.x以下，必须使用template标签 -->
				<template slot-scope="sl">
					<span v-for="item in sl.sdata">{{item}} - </span>
				</template>
			</cpn>
			<cpn>
				<template slot-scope="sl">
					<span>{{sl.sdata.join(' - ')}}</span>
				</template>
			</cpn>
			<cpn></cpn>
		</div>
		<template id="cpn">
			<div>
				<slot :sdata="pLanguages">
					<ul>
						<li v-for="item in pLanguages">{{item}}</li>
					</ul>
				</slot>
			</div>
		</template>
		<script src="../vue.js"></script>
		<script>
			const app = new Vue({
				el: '#app',
				data: {
					message: '你好啊'
				},
				components: {
					cpn: {
						template: '#cpn',
						data() {
							return {
								pLanguages: ['php', 'C++', 'VB', 'javascript', 'java']
							}
						}
					}
				}
			})
		</script>
	</body>
</html>
